body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	color: #212121;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.header {
}

.header-logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	text-decoration: none;
	line-height: 31px;
	color: #2196f3;
}

.header-logo > span {
	color: #212121;
}

.header-nav {
}

.header-list {
}

.header-item {
	line-height: 16px;
}

.header-link {
}

.header-item > a {
	color: #212121;
}

.header-link:hover {
	color: #2196f3;
}

.header-link:focus {
	color: #2196f3;
}

.header-group {
}

.header-element > a {
	color: #757575;
	line-height: 16px;
}

.header-contact:hover {
	color: #2196f3;
}

.header-contact:focus {
	color: #2196f3;
}

.header-phone:hover {
	color: #2196f3;
}

.header-phone:focus {
	color: #2196f3;
}

.hero {
	background-color: #2f303a;
	color: #ffffff;
	text-align: center;
}

.hero-title {
	font-size: 44px;
	text-transform: uppercase;
	line-height: 60px;
}

.hero-button {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 30px;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: #ffffff;
}

.features {
}

.features-list {
}

.features-item {
}

.features-subtitle {
	text-transform: uppercase;
	line-height: 16px;
}

.features-desc {
	color: #757575;
	line-height: 24px;
}

.services {
}

.services-title {
	font-size: 36px;
	line-height: 42px;
}

.services-list {
}

.services-item {
}

.services-img {
}

.team {
	background-color: #f5f4fa;
}

.team-title {
	font-size: 36px;
	line-height: 42px;
}

.team-list {
}

.team-item {
}

.team-img {
}

.team-group {
	font-size: 16px;
	text-align: center;
	line-height: 19px;
}

.team-caption {
}

.team-desc {
	color: #757575;
}

.portfolio {
}

.portfolio-buttons {
	background: #f5f4fa;
	border-radius: 4px;
	text-align: center;
}

.portfolio-btn {
	font-family: "Roboto", sans-serif;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-img {
}

.portfolio-group {
}

.portfolio-subtitle {
}

.portfolio-desc {
	color: #757575;
}

.footer {
	background-color: #2f303a;
}

.footer-logo {
	font-family: "Raleway", sans-serif;
	color: #2196f3;
	line-height: 31px;
}

.footer-logo > span {
	color: #ffffff;
}

.footer-group {
}

.footer-list {
}

.footer-item {
	font-style: normal;
}

.footer-address {
	color: #ffffff;
	line-height: 24px;
}

.footer-address:hover {
	color: #2196f3;
}

.footer-address:focus {
	color: #2196f3;
}

.footer-contact {
	color: rgba(255, 255, 255, 0.6);
	line-height: 24px;
}

.footer-contact:hover {
	color: #2196f3;
}

.footer-contact:focus {
	color: #2196f3;
}

.footer-phone {
	color: rgba(255, 255, 255, 0.6);
	line-height: 24px;
}

.footer-phone:hover {
	color: #2196f3;
}

.footer-phone:focus {
	color: #2196f3;
}
